server {
  listen 80;
  listen [::]:80;

  root {{ nginx_vars['document_root'] }}/{{ nginx_vars['app_root'] }};
  index index.html index.htm;

  server_name {{ nginx_vars['server_name'] }};
  
  location / {
   try_files $uri.html $uri $uri/ =404;
  }
}
